{
  "openapi": "3.1.0",
  "info": {
    "title": "CUPAD Unified API",
    "version": "1.1.0",
    "description": "Secure read API for CUPAD mobile apps and ChatGPT integrations."
  },
  "servers": [
    {
      "url": "https://cupad.name.ng/api/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "CUPAD server-to-server API key. Keep it secret."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "Health status"
          }
        }
      }
    },
    "/test": {
      "get": {
        "responses": {
          "200": {
            "description": "Authenticated API and database test"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT login response"
          }
        }
      }
    },
    "/me": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated user"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated clients"
          }
        }
      }
    },
    "/clients/{id}/portfolio": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client portfolio"
          }
        }
      }
    },
    "/clients/{id}/savings": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client savings"
          }
        }
      }
    },
    "/clients/{id}/loans": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client loans"
          }
        }
      }
    },
    "/clients/{id}/transactions": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client transactions"
          }
        }
      }
    }
  }
}